.wrapper{
    width: 420px;
    background: slateblue;
    color: #ffffff;
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
}

.wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    background: salmon;
}

.input-box .input {
    width: 100%;
    height: 100%;
    background: transparent;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
}

.input-box .input::placeholder {
    color: #ffffff;
}