.wrapper{
    width: 100%;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    box-shadow: 0 0 10px rgba(0, 0, 0 .2);
    color: #ffffff;
    padding: 1rem 2rem;
    border-radius: 1rem;
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
}

.wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 2rem 0 0 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 15px;
    font-size: 1rem;
    color: #ffffff;
    padding: 1rem 3rem 1rem 1rem;
}

.input-box input::placeholder {
    color: #ffffff;
}


.input-box .icon {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1rem;
}

.wrapper button {
    width: 100%;
    height: 3rem;
    background: #ffffff;
    border: none;
    outline: none;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0 .1);
    cursor: pointer;
    font-size: 1rem;
    color: #333;
    font-weight: 700;
}

.wrapper .register-link {
    font-size: 1rem;
    text-align: center;
    margin-top: 1rem;
}

.register-link p a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover {
    text-decoration: underline;
}

.login-grid{
    padding-top: 1rem;
}