 .side-by-side-container {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
}

.side-by-side-input-container{
    display: flex;
    gap: 1rem;
}

.custom-select {
    border: 1px solid #ced4da;
    border-radius: 0.5rem;
    padding: 0.375rem 1.75rem 0.375rem 0.75rem; 
    font-size: 1rem; 
    line-height: 1.5; 
    height: 3rem;
  }
